<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.base_url }}/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.base_url }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.base_url }}/css/bootstrap-theme.css">
    <link rel="stylesheet" href="{{ site.base_url }}/css/main.css">

    <script type="text/javascript" src="//use.typekit.net/cej7ijo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="col-md-12">
          <a href="{{ site.base_url }}/"><img class="logo" src="{{ site.base_url }}/images/logo.png" /></a>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/location/">Location</a></li>
            <li><a href="/medienkunstpreis/">Medienkunstpreis</a></li>
            <li><a href="/apply/" class="btn btn-primary btn-lg yellow">APPLY</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      {{ content }}
      <div class="footer">
        <div class="container">
          <div class="col-md-4">
            <h3>SCHMIEDE</h3>
            <ul>
              <li>
                <a href="https://www.facebook.com/schmiedehallein">Facebook page</a>
              </li>
              <li>
                <a href="http://www.flickr.com/groups/schmiede/">Flickr group</a>
              </li>
              <li>
                <a href="https://twitter.com/SchmiedeHallein/">Twitter</a>
              </li>
              <li>
                <a href="/partners.html">Partners</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>GET INVOLVED</h3>
            <ul>
              <li>
                <a href="/apply/">Apply</a>
              </li>
              <li>
                <a href="/medienkunstpreis/">Medienkunstpreis</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <!--<img src="{{ site.base_url }}/images/anvil.png" />-->
            <h3>OTHER</h3>
            <ul>
              <li>
                <a href="{{ site.base_url }}/impressum.html">Impressum/Contact</a>
              </li>
              <li>
                <a href="{{ site.base_url }}/tos.html">Therms of service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
